* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(79, 188, 222, 0.501)
}

h1 {
    background-color: rgb(73, 142, 144);
    border-bottom: 5px solid rgb(52, 77, 119);
    color: rgb(180, 211, 212);
    font-size: 100px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.status-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-intro {
    /* background-color: antiquewhite; */
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 1em;
}

.turn {
    background-color:rgb(73, 142, 144);;
    border-radius: 10px;
    color: rgb(180, 211, 212);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 40px 5px 40px;
    margin: 20px 0 10px 0;
}

.turn:hover {
    background-color: rgb(78, 166, 169);
}


.reset {
    background-color: rgb(73, 142, 144);
    border: none;
    border-radius: 10px;
    color: rgb(180, 211, 212);
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    margin: 20px 0 30px 0;
}

.reset:hover {
    background-color: rgb(78, 166, 169);
}

.board {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template: repeat(3, 140px) / repeat(3, 140px);
    margin-bottom: 100px;
}

/* styling for the individual boxes on the board */
.slot {
    background-color: rgb(53, 135, 149);
    padding-top: 20px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px;
    color: rgb(221, 238, 238);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    text-align: center;
}

.slot:hover {
    background-color: rgb(59, 157, 174);
}

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight, 
#nine {
    cursor: pointer;
}

#one,
#two,
#four,
#five {
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

#three,
#six {
    border-bottom: 5px solid black;
}

#seven,
#eight {
    border-right: 5px solid black;
}